
        body {
            background-image: url("https://i.pinimg.com/originals/3e/86/0d/3e860d2e061e24f4309a98a3bc16028a.jpg");
            width: 100%;
            font-family: arial;
            margin: 0px 0px;
        }

        a {
            text-decoration: none;
        }

        .head-bar{
            font-family: Arial;
            font-size: 50px;
            padding-left: 10px;
        }

    

        .menu-button{
            color: white;
            background-color: transparent;
            border-color: transparent;
            border-radius: 4px;
            margin-left: 10px;
            cursor: pointer;
        /*    transition: box-shadow 500ms; */
        }

        .menu-button:hover{
            background-color: rgba(0, 0, 0, 0.521);
        }

        .menu-button:active{
            background-color: black;
        }

        .paragraph{
            font-family: Arial;
            font-weight: bold;
            padding-left: 10px;
        }

        .menu{
            /* display: flex; */
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            margin: 15px 7px 15px -7px;
        }

        .input{
            margin-left: 8px;
            border: solid;
            border-radius: 10px;
            color: white;
            border: none;
            background-color: gray;
            padding: 0px 10px;
        }