
body {
    background-image: url("https://i.pinimg.com/originals/3e/86/0d/3e860d2e061e24f4309a98a3bc16028a.jpg");
    width: 100%;
    font-family: arial;
    margin: 0px 0px;
}

a {
    text-decoration: none;
}

.head-bar{
            font-family: Arial;
            font-size: 50px;
            padding-left: 10px;
        }

.menu-button{
    height: 30px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    border-radius: 100px;
    margin-left: 10px;
    cursor: pointer;
    transition: box-shadow 0.10s;
}

.menu-button:hover{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.menu-button:active{
    background-color: black;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}

.paragraph{
    font-family: Arial;
    font-weight: bold;
    padding-left: 10px;
}

.menu{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px 7px 15px -7px;
}

.input{
    height: 28px;
    width: 25%;
    font-size: 14px;
    color: white;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    margin-left: 8px;
    padding: 0px 10px;
}

.input:hover{
    background-color: black;
}

.input-button {
    height: 28px;
    color: white;
    background-color:  rgb(27, 27, 27);
    border: none;
    border-radius: 10px;
    margin-left: -53px;
    cursor: pointer;
    transition: box-shadow 0.10s;
}

.input-button:hover {
    background-color: black;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}